{{ define "logIn" }}
<main>
	<h1>Log in</h1>
	<form method="post">
		{{ with .Errors.General }}
		<span class="error">Error: {{ . }}</span>
		{{ end }}
		<label for="username">Username (Required)</label>
		<input type="text" name="username" required
			{{ with .Username }} value="{{ . }}" {{ end }}>
		{{ with .Errors.Username }}
		<label class="error" for="username">{{ . }}</label>
		{{ end }}
		<label for="password">Password (Required)</label>
		<input type="password" name="password" required>
		{{ with .Errors.Password }}
		<label class="error" for="password">{{ . }}</label>
		{{ end }}
		<input type="submit" value="Log in">
	</form>
</main>
{{ template "lower" }}
{{ end }}
