{{ define "mainMeterCreate" }}
{{ template "upper" }}
<main>
	<h1>Main Meter Create</h1>
	<form method="post">
		{{ with .Errors.General }}
		<span class="error">Error: {{ . }}</span>
		{{ end }}
		<label for="meter-identification">Meter Identification (Required)</label>
		<input type="text" name="meter-identification" min="1000" required
			{{ with .MeterId }} value="{{ . }}" {{ end }}>
		{{ with .Errors.MeterId }}
		<label class="error" for="meter-identification">{{ . }}</label>
		{{ end }}
		<label for="number">Address (Required)</label>
		<input type="text" name="address" minlength="8" required
			{{ with .Address }} value="{{ . }}" {{ end }}>
		{{ with .Errors.Address }}
		<label class="error" for="number">{{ . }}</label>
		{{ end }}
		<input type="submit" value="Create">
	</form>
</main>
{{ template "lower" }}
{{ end }}
