{{ define "mainMeterCreate" }}
<main>
	<h1>New Main Meter</h1>
	<form method="post">
		{{ with .GeneralError }}
		<span class="error">Error: {{ . }}</span>
		{{ end }}

		<label for="meter-identification">Meter Identification (Required)</label>
		<input type="text" name="meter-identification" id="meter-identification" minlength="3" maxlength="64" required
			{{ with .MeterID }} value="{{ . }}" {{ end }}>
		{{ with .MeterIDError }}
		<label class="error" for="meter-identification">{{ . }}</label>
		{{ end }}

		<label for="energy">Energy (Required)</label>
		<select name="energy" id="energy" required>
			<option value="">-- Select --</option>
			<option value="electricity" {{ if eq .Energy "electricity" }} selected {{ end }}>Electricity</option>
			<option value="gas" {{ if eq .Energy "gas" }} selected {{ end }}>Gas</option>
			<option value="water" {{ if eq .Energy "water" }} selected {{ end }}>Water</option>
		</select>
		{{ with .EnergyError }}
		<label class="error" for="energy">{{ . }}</label>
		{{ end }}

		<label for="address">Address (Required)</label>
		<input type="text" name="address" id="address" minlength="8" maxlength="255" required
			{{ with .Address }} value="{{ . }}" {{ end }}>
		{{ with .AddressError }}
		<label class="error" for="address">{{ . }}</label>
		{{ end }}

		<label for="currency-code">Currency Code (Required)</label>
		<input type="text" name="currency-code" id="currency-code" minlength="3" maxlength="3" required
			{{ with .CurrencyCode }} value="{{ . }}" {{ end }}>
		{{ with .CurrencyCodeError }}
		<label class="error" for="currency-code">{{ . }}</label>
		{{ end }}

		<input type="submit" value="Create">
	</form>
</main>
{{ template "lower" }}
{{ end }}
