{{ define "mainMeterList" }}
<main>
	<h1>My Main Meters</h1>
        <li><a href="/main-meter/create">Create Main Meter</a></li>
	<table>
		<tr>
			<th>ID</th>
			<th>Meter Identification</th>
			<th>Energy</th>
			<th>Address</th>
		</tr>
		{{ range . }}
		<tr>
			<td>{{ .ID }}</td>
			<td>{{ .MeterID }}</td>
			<td>{{ .Energy }}</td>
			<td>{{ .Address }}</td>
			<td><a href="/main-meter/{{ .ID }}/overview">Detail</a></td>
		</tr>
		{{ end }}
	</table>
</main>
{{ template "lower" }}
{{ end }}
