{{ define "mmBillList" }}
<main>
	{{ template "mmUpper" .Upper }}
	<h1>Billings</h1>
	<li><a href="/main-meter/{{ .Upper.MmID }}/billing/new">New Billing</a></li>
	<table>
		<tr>
			<th>SubID</th>
			<th>Status</th>
			<th>Max Day Diff</th>
			<th>Begin Date</th>
			<th>End Date</th>
			<th>Energy Consumption</th>
			<th>Consumed Energy Price</th>
			<th>Service Price</th>
			<th>Advance Price</th>
			<th>From Financial Balance</th>
			<th>To Pay</th>
		</tr>
		{{ range .MmBills }}
		<tr>
			<td>{{ .Status }}</td>
			<td>{{ .MaxDayDiff }}</td>
			<td><input type="date" disabled
				{{ with .BeginDate }}
				value="{{ .Time.Format "2006-01-02" }}"
				{{ end }}>
			</td>
			<td><input type="date" disabled
				{{ with .EndDate }}
				value="{{ .Time.Format "2006-01-02" }}"
				{{ end }}>
			</td>
			<td>{{ .EnergyConsum }}</td>
			<td>{{ .ConsumEnergyPrice }}</td>
			{{ if .ServicePrice.Valid }}
			<td>{{ .ServicePrice.Float64 }}</td>
			{{ else }}
			<td></td>
			{{ end }}
			<td>{{ .AdvancePrice }}</td>
			<td>{{ .FromFinBalance }}</td>
			<td>{{ .ToPay }}</td>
			{{ with .ID }}
			<td><a href="/main-meter-billing/{{ .String }}/overview">Detail</a></td>
			{{ end }}
		</tr>
		{{ end }}
	</table>
</main>
{{ template "lower" }}
{{ end }}
