{{ define "mmBillPeriodList" }}
<main>
	<h1>Billing Periods</h1>
	{{ template "mmBillUpper" .Upper }}
	<table>
		<tr>
			<th>SubID</th>
			<th>Begin Date</th>
			<th>End Date</th>
			<th>Begin Reading Value</th>
			<th>End Reading Value</th>
			<th>Energy Consumption</th>
			<th>Consumed Energy Price</th>
			<th>Service Price</th>
			<th>Advance Price</th>
			<th>Total Price</th>
		</tr>
		{{ range .MmBillPeriods }}
		<tr>
			<td>{{ .Subid }}</td>
			<td><input type="date" disabled
				{{ with .BeginDate }}
				value="{{ .Time.Format "2006-01-02" }}"
				{{ end }}>
			</td>
			<td><input type="date" disabled
				{{ with .EndDate }}
				value="{{ .Time.Format "2006-01-02" }}"
				{{ end }}>
			</td>
			<td>{{ .BeginRdgVal }}</td>
			<td>{{ .EndRdgVal }}</td>
			<td>{{ .EnergyConsum }}</td>
			<td>{{ .ConsumEnergyPrice }}</td>
			{{ if .ServicePrice.Valid }}
			<td>{{ .ServicePrice.Float64 }}</td>
			{{ else }}
			<td></td>
			{{ end }}
			<td>{{ .AdvancePrice }}</td>
			<td>{{ .TotalPrice }}</td>
		</tr>
		{{ end }}
	</table>
</main>
{{ template "lower" }}
{{ end }}
