{{ define "mmList" }}
<main>
	<h1>My Main Meters</h1>
        <li><a href="/main-meter/new">New Main Meter</a></li>
	<table>
		<tr>
			<th>Meter Identification</th>
			<th>Energy</th>
			<th>Address</th>
			<th>Currency Code</th>
		</tr>
		{{ range . }}
		<tr>
			<td>{{ .MeterID }}</td>
			<td>{{ .Energy }}</td>
			<td>{{ .Address }}</td>
			<td>{{ .CurrencyCode }}</td>
			{{ with .ID }}
			<td><a href="/main-meter/{{ .String }}/overview">Detail</a></td>
			{{ end }}
		</tr>
		{{ end }}
	</table>
</main>
{{ template "lower" }}
{{ end }}
