{{ define "signUp" }}
<main>
	<h1>Create Account</h1>
	<form method="post">
		{{ with .Errors.General }}
		<span class="error">Error: {{ . }}</span>
		{{ end }}
		<label for="username">Username (Required)</label>
		<input type="text" name="username" required
			{{ with .Username }} value="{{ . }}" {{ end }}>
		{{ with .Errors.Username }}
		<label class="error" for="username">{{ . }}</label>
		{{ end }}
		<label for="email">Email (Required)</label>
		<input type="email" name="email" required
			{{ with .Email }} value="{{ . }}" {{ end }}>
		{{ with .Errors.Email }}
		<label class="error" for="email">{{ . }}</label>
		{{ end }}
		<label for="password">Password (Required)</label>
		<input type="password" name="password" required>
		{{ with .Errors.Password }}
		<label class="error" for="password">{{ . }}</label>
		{{ end }}
		<label for="repeat-password">Repeat password (Required)</label>
		<input type="password" name="repeat-password" required>
		{{ with .Errors.RepeatPassword }}
		<label class="error" for="repeat-password">{{ . }}</label>
		{{ end }}
		<input type="submit" value="Create account">
	</form>
</main>
{{ template "lower" }}
{{ end }}
