{{ define "smBillList" }}
<main>
	<h1>Billings</h1>
	{{ template "smUpper" .Upper }}
	<table>
		<tr>
			<th>SubID</th>
			<th>Status</th>
			<th>Energy Consumption</th>
			<th>Consumed Energy Price</th>
			<th>Service Price</th>
			<th>Advance Price</th>
			<th>From Financial Balance</th>
			<th>To Pay</th>
		</tr>
		{{ range .SmBills }}
		<tr>
			<td>{{ .Subid }}</td>
			<td>{{ .Status }}</td>
			<td>{{ .EnergyConsum }}</td>
			<td>{{ .ConsumEnergyPrice }}</td>
			{{ if .ServicePrice.Valid }}
			<td>{{ .ServicePrice.Float64 }}</td>
			{{ else }}
			<td></td>
			{{ end }}
			<td>{{ .AdvancePrice }}</td>
			<td>{{ .FromFinBalance }}</td>
			<td>{{ .ToPay }}</td>
		</tr>
		{{ end }}
	</table>
</main>
{{ end }}
