{{ define "smList" }}
<main>
	{{ template "mmUpper" .Upper }}
	<h1>Sub Meters</h1>
        <li><a href="/main-meter/{{ .Upper.MmID }}/sub-meter/new">New Sub Meter</a></li>
	<table>
		<tr>
			<th>Meter Identification</th>
			<th>Financial Balance</th>
			<th>User Email</th>
		</tr>
		{{ range .Sms }}
		<tr>
			{{ with .MeterID }}
			<td>{{ .String }}</td>
			{{ end }}
			<td>{{ .FinBalance }}</td>
			<td>{{ .Email }}</td>
			{{ with .ID }}
			<td><a href="/sub-meter/{{ .String }}/overview">Detail</a></td>
			{{ end }}
		</tr>
		{{ end }}
	</table>
</main>
{{ template "lower" }}
{{ end }}
