{{ define "smRdgList" }}
<main>
	{{ template "smUpper" .Upper }}
	<h1>Sub Meter Readings</h1>
	{{ with .Upper.SmID }}
	<li><a href="/sub-meter/{{ .String }}/reading/new">New Reading</a></li>
	{{ end }}
	<table>
		<tr>
			<th>Value</th>
			<th>Date</th>
		</tr>
		{{ range .SmRdgs }}
		<tr>
			<td>{{ printf "%.3f" .RdgVal }}</td>
			<td><input type="date" disabled
				{{ with .RdgDate }} value="{{ .Time.Format "2006-01-02" }}" {{ end }}></td>
		</tr>
		{{ end }}
	</table>
</main>
{{ template "lower" }}
{{ end }}
