{{ define "smRdgList" }}
<main>
	{{ template "smUpper" .Upper }}
	<h1>Sub Meter Readings</h1>
	<li><a href="/main-meter/{{ .Upper.MmID }}/sub-meter/{{ .Upper.Subid }}/reading/new">New Reading</a></li>
	<table>
		<tr>
			<th>ID</th>
			<th>Value</th>
			<th>Date</th>
		</tr>
		{{ range .SmRdgs }}
		<tr>
			<td>{{ .ID }}</td>
			<td>{{ printf "%.3f" .RdgVal }}</td>
			<td><input type="date" disabled
				{{ with .RdgDate }} value="{{ .Time.Format "2006-01-02" }}" {{ end }}></td>
		</tr>
		{{ end }}
	</table>
</main>
{{ template "lower" }}
{{ end }}
