{{ define "subMeterList" }}
<main>
    {{ template "mainMeterUpper" .Upper }}
	<h1>Sub Meter List</h1>
	<table>
		<tr>
			<th>SubID</th>
			<th>Meter Identification</th>
			<th>User Email</th>
		</tr>
		{{ range .SubMeters }}
		<tr>
			<td>{{ .Subid }}</th>
            {{ with .MeterID }}
			<td>{{ .String }}</th>
            {{ end }}
			<td>{{ .Email }}</th>
            <td><a href="/main-meter/{{ $.Upper.ID }}/sub-meter/{{ .Subid }}/general">Detail</a></td>
		</tr>
		{{ end }}
	</table>
</main>
{{ template "lower" }}
{{ end }}
