{{ define "subMeterList" }}
<main>
	{{ template "mainMeterUpper" .Upper }}
	<h1>Sub Meters</h1>
        <li><a href="/main-meter/{{ .Upper.ID }}/sub-meter/create">Create Sub Meter</a></li>
	<table>
		<tr>
			<th>SubID</th>
			<th>Meter Identification</th>
			<th>User Email</th>
		</tr>
		{{ range .SubMeters }}
		<tr>
			<td>{{ .Subid }}</td>
			{{ with .MeterID }}
			<td>{{ .String }}</td>
			{{ end }}
			<td>{{ .Email }}</td>
			<td><a href="/main-meter/{{ $.Upper.ID }}/sub-meter/{{ .Subid }}/overview">Detail</a></td>
		</tr>
		{{ end }}
	</table>
</main>
{{ template "lower" }}
{{ end }}
