{{ define "subMeterCreate" }}
<main>
    {{ template "mainMeterUpper" .Upper }}
	<h1>New Sub Meter</h1>
	<form method="post">
		{{ with .GeneralError }}
		<span class="error">Error: {{ . }}</span>
		{{ end }}

		<label for="meter-identification">Meter Identification</label>
		<input type="text" name="meter-identification" id="meter-identification" maxlength="64"
			{{ with .MeterID }} value="{{ . }}" {{ end }}>
		{{ with .MeterIDError }}
		<label class="error" for="meter-identification">{{ . }}</label>
		{{ end }}

		<input type="submit" value="Create">
	</form>
</main>
{{ template "lower" }}
{{ end }}
