{{ define "upper" }}
<!DOCTYPE html>
<html>
<head>
    <title>Spinus</title>
    {{ template "headTags" }}
</head>
<body>
    <ul>
        {{ if .UserLoggedIn }}
        <li>
            <form method="post" action="/logout">
                <input type="submit" value="Log Out">
            </form>
        </li>
        {{ else }}
        <li><a href="/signup">Sign Up</a></li>
        <li><a href="/login">Log In</a></li>
        {{ end }}
        <li><a href="/main-meter/list">My Main Meters</a></li>
    </ul>
{{ end }}
