package ui

import (
	spinusdb "github.com/svoboond/spinus/internal/db/sqlc"
	"strconv"
)

templ MmBillOverview(upper MmBillUpperTmpl, mmBill spinusdb.GetMmBillRow) {
	<h1>Main Meter Billing Overview</h1>
	@MmBillUpper(upper)
	<table>
		<tr>
			<th>Status</th>
			<th>Max Day Diff</th>
			<th>Begin Date</th>
			<th>End Date</th>
			<th>Energy Consumption</th>
			<th>Consumed Energy Price</th>
			<th>Service Price</th>
			<th>Advance Price</th>
			<th>From Financial Balance</th>
			<th>To Pay</th>
		</tr>
		<tr>
			<td>{ string(mmBill.Status) }</td>
			<td>{ strconv.Itoa(int(mmBill.MaxDayDiff)) }</td>
			<td><input type="date" disabled value={ mmBill.BeginDate.Time.Format("2006-01-02") }/></td>
			<td><input type="date" disabled value={ mmBill.EndDate.Time.Format("2006-01-02") }/></td>
			<td>{ strconv.FormatFloat(mmBill.EnergyConsum, 'f', -1, 64) }</td>
			<td>{ strconv.FormatFloat(mmBill.ConsumEnergyPrice, 'f', -1, 64) }</td>
			if mmBill.ServicePrice.Valid {
				<td>{ strconv.FormatFloat(mmBill.ServicePrice.Float64, 'f', -1, 64) }</td>
			} else {
				<td></td>
			}
			<td>{ strconv.FormatFloat(mmBill.AdvancePrice, 'f', -1, 64) }</td>
			<td>{ strconv.FormatFloat(mmBill.FromFinBalance, 'f', -1, 64) }</td>
			<td>{ strconv.FormatFloat(mmBill.ToPay, 'f', -1, 64) }</td>
		</tr>
	</table>
}
