package ui

import "fmt"

templ MmUpper(upper MmUpperTmpl) {
	<ul>
		<li><a href={ templ.URL(fmt.Sprintf("/main-meter/%s/overview", upper.MmID.String())) }>Overview</a></li>
		<li><a href={ templ.URL(fmt.Sprintf("/main-meter/%s/sub-meter/list", upper.MmID.String())) }>Sub Meters</a></li>
		<li><a href={ templ.URL(fmt.Sprintf("/main-meter/%s/billing/list", upper.MmID.String())) }>Billings</a></li>
	</ul>
}
