package ui

templ SmRdgCreate(upper SmUpperTmpl, form SmRdgForm) {
	@SmUpper(upper)
	<h1>New Sub Meter Reading</h1>
	<form method="post">
		if form.GeneralErr != "" {
			<span class="error">{ form.GeneralErr }</span>
		}
		<label for="rdg-date">Date (Required)</label>
		<input type="date" name="rdg-date" id="rdg-date" required value={ form.RdgDate }>
		if form.RdgDateErr != "" {
			<label class="error" for="rdg-date">{ form.RdgDateErr }</label>
		}
		<label for="rdg-val">Value (Required)</label>
		<input type="number" step="0.001" name="rdg-val" id="rdg-val" min="0" required value={ form.RdgVal }>
		if form.RdgValErr != "" {
			<label class="error" for="rdg-val">{ form.RdgValErr }</label>
		}
		<input type="submit" value="Create"/>
	</form>
}
